.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
}

img {
	max-height: 50px;
	border: 2px solid #fff;
	display: inline;
}